doctype html
html
  head
    meta(charset='utf-8')
    title enghlintment
    link(href='static/index.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet")
  body
      img(id="preImg" src='https://i.ytimg.com/vi/MTtzwQ6uaMA/maxresdefault.jpg')
      block content
