doctype html
html
  head
    meta(charset='utf-8')
    title enghlintment
    link(href='static/index.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet")
  body
      img(id="preImg" src='https://i.ytimg.com/vi/MTtzwQ6uaMA/maxresdefault.jpg')
      .quote-box
        .quote-text
          span#text= quote
      script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
      script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
      script(src='static/index.js')
      
